$applyBackground: false;

.detail-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  @if $applyBackground == true {
    background: cornflowerblue;
  }
  margin-left: 20%;
  margin-right: 20%;
}
.stats {
  display: flex;
  flex: 1;
}
.detail-chart-country {
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  // background-color: aqua;
}
.detail-chart-container {
  height: 600px;
  flex-direction: row;
  // display: flex;
  // background: green;
}
.technologies-input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  // background: red;
}
.stats-container {
  display: flex;
  flex-direction: column;
  // background: olive;
}
